<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <div class="main-app">
        <%- include('./partials/header.ejs') %>

        <div class="app__container">
            <div class="grid">
                <div class="row">
                    <div class="col-lg-3" style="background-color: #ccc;"></div>
                    <div class="col-lg-6">
                        <div class="app__container-timeline">
                            <!-- Start form post -->
                            <div class="timeline__form-post">
                                <div class="timeline__wrap-input">
                                    <img src="<%= user.avatar %>" alt="" class="timeline__wrap-input-avt">
                                    <span class="timeline__wrap-input-open">What's on your mind, <%= user.name %>?</span>
                                </div>
                                <ul class="timeline__options-list">
                                    <li class="timeline__options-item">
                                        <i class="fas fa-video timeline__options-icon color-red"></i> Live Video
                                    </li>
                                    <li class="timeline__options-item">
                                        <i class="fas fa-images timeline__options-icon color-green"></i> Photo/Video
                                    </li>
                                    <li class="timeline__options-item">
                                        <i class="far fa-laugh timeline__options-icon color-yellow"></i> Feeling/Activity
                                    </li>
                                </ul>
                            </div>
                            <!-- End form post -->
                        </div>
                    </div>
                    <div class="col-lg-3" style="background-color: #ccc;"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal">
        <div class="modal__overlay"></div>
        <div class="modal__body">
            <div class="wrap-form-post-news">
                <div class="form-post-news__container">
                    <h2 class="form-edit-prof-heading">Create Post</h2>
                    <div class="btn-close-edit-prof">&times;</div>
                    <div class="form-post-news__heading">
                        <img src="<%= user.avatar %>" alt="" class="wrap-user-status-avt">
                        <div class="wrap-form-post-name-and-status">
                            <p class="wrap-form-post-name"><%= user.name %></p>
                            <div class="wrap-form-post-status">
                                <i class="fas fa-globe-americas"></i> Public
                            </div>
                        </div>
                    </div>
                    <form action="" method="POST">
                        <textarea name="" id="" cols="30" rows="10" placeholder="What's on your mind, <%= user.name%>?" class="form-post-news-textarea" required></textarea>
                        <div class="display-img-form-post-news">
                            <div class="wrap-show-img__input-img">
                                <img src="" alt="" class="textarea__img-form-post-news">
                            </div>
                            <div class="btn-close-image-form-post-news">&times;</div>
                        </div>

                        <div class="form-group mt-16 form-group-video-link">
                            <label for="form-post-news-input-link-video" class="form-label">Video link</label>
                            <input type="text " class="form-control border-color-gray mt-4" id="form-post-news-input-link-video" placeholder="Please enter video link...">
                        </div>
                        <div class="form-post-wrap-icon">
                            <p class="form-post-wrap-icon__text">Add to Your Post</p>
                            <div>
                                <!-- Upload image -->
                                <label for="form-post-news-upload-img" class="fas fa-images form-post-news-icon color-green mr-16"></label>
                                <input type="file" accept="image/*" name="imageUpload" id="form-post-news-upload-img" hidden>

                                <i class="fab fa-youtube form-post-news-icon color-red"></i>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-submit-form-post-news"><strong>Post</strong></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/javascripts/main.js"></script>
</body>
</html>